.link{text-decoration: none;}
.list{list-style: none;}

img{display: block;}




:root{
    --title-color: #212121;
--text-color:#757575;
}
.body {

}


.header-logo-first{color: #2196F3;}
.header-logo-second {color: #000000;}
.header-logo-first, .header-logo-second{}



.header-navigation a:hover
.header-navigation a:focus

.hero{
background-color:  #2F303A;
}

