.link{text-decoration: none;}
.list{list-style: none;}

img{display: block;}




:root{
    --title-color: #212121;
--text-color:#757575;
}
.body {

}
.header{}
.nav{}
.logo{}
.menu{}
.menu-item{}
.menu-link{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}
.menu-link:hover,
.menu-link:focus
{
    color:#2196F3;
}
.contact{}
.contact-phone-number{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color:#757575;
}
.contact-email{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}
.contact-email:hover,
.contact-email:focus,
.contact-phone-number:hover,    
.contact-phone-number:focus{
color:#2196F3;
}




