.link{text-decoration: none;}
.list{list-style: none;}

img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}
/*:root{
    --title-color: #212121;
--text-color:#757575;
}*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: ;
    letter-spacing: ;
}
.header{}
.nav{}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web{color:#2196F3;}
.menu{}
.menu-item{}
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}
.menu-link:hover,
.menu-link:focus
{
    color:#2196F3;
}
.contact{}
.header-phone-number{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color:#757575;
}
.header-email{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}
.header-email:hover,
.header-email:focus,
.header-phone-number:hover,    
.header-phone-number:focus{
color:#2196F3;
}
.hero{
    background-color: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.modal_open_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
  
}
.modal_open_btn:hover,
.modal_open_btn:focus{
    background-color: #2196F3;
    color:#FFFFFF ;
}
.desc{}
.desc-title-hidden{}
.desc-subtitle{}
.desc-text{}
.features{}
.features-title{}
.features-img{}
.team{}
.team-title{}
.team-img{}
.team-subtitle{}
.team-text{}
.footer{}
.address{}
.location{}
.footer-phone-number{}
.footer-email{}




